$main-color: #0caf7d;
$hover-color: #0c845c;
$menu-color: #53B094;
$inner-color: #B07C0C;
$bg-color: rgba(182, 130, 18, 0.3);

@mixin center-vertically{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-horizontally{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin big-hover{
  background-color: $hover-color;
  transition: all 0.3s;
  cursor: pointer;
}

@mixin center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: $main-color;
  color: white;
  text-shadow: 2px 2px black;
  font: 48px Mission-Script, sans-serif;
  z-index: 1;
  border-bottom: 3px solid $hover-color;
  border-top: 3px solid $hover-color;

  div{
    float: left;
    text-align: center;
    vertical-align: middle;
  }

  form{
    position: absolute;
    left: 25%;
    top: 100%;
    width: 50%;
    color: black;
    text-shadow: none;
    font: 100 25px Quicksand, sans-serif;
    line-height: 30px;
    background-color: $menu-color;
    border-color: $hover-color;
    border: solid $hover-color;
    border-radius: 5px;

    label{
      position: relative;
      width: 50%;
      text-align: right;
    }

    input{
      position: relative;
      height: 18px;
      font-size: 14px;
      width: 50%;
      text-align: center;
    }

  }

  .title{
  	position: absolute;
  	left: -1%;
    width: 50%;
    height: 100%;
    line-height: 70px;
    cursor: pointer;
  }

  .beforeLogin, .afterLogin{
    position: absolute;
    left: 60%;
    width: 40%;
    height: 100%;
    font-size: 40px;
  }

  .showLogButton{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 70px;
  }

  .cartButton, .accountButton {
    @include center-vertically;
    width: 50%;
    height: 100%;
    line-height: 70px;
    font-size: 36px;
  }

  .hButton{
    font-weight: normal;
  }

  .beforeLogin:hover, .cartButton:hover, .accountButton:hover{
    @include big-hover;
  }

  .hButton:hover{
    color: $hover-color;
    transition: all 0.3s;
    cursor: pointer;
  }

  .accountForm{
    left: 55%;
    width: 40%;
  }

  #username-label{
    position: relative;
    float: left;
    line-height: 0;
    text-align: center;

    left: 40%;
    transform: translate(-60%);

  }
}

.sidebar{
  position: fixed;
  height: 100%;
  width: 12%;
  background-color: $menu-color;

  border-right: 3px solid $hover-color;


  font: 40px Mission-Script, sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px black;
  text-align: center;
  
  .corner{
  	height: 10%;
  	width: 100%;
  	vertical-align: middle;
  	background-color: $main-color;
  	font-size: 48px;
  	border-bottom: 3px solid $hover-color;
  	border-right: 3px solid $hover-color;
  	border-top: 0;
    line-height: 70px;
  }
  
  .corner:hover{
  	cursor:pointer;
  }

  .sidebarButton{
    position: absolute;
    height: 45%;
    width: 100%;
  }

  .sidebarButton:hover{
    @include big-hover;
  }

  p{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
  }
  
  #buyButton{
    border-bottom: 3px solid $hover-color;
  }

  #sellButton{
    top: 56%;
  }
}

.contentSpace{
  position: absolute;
  top: 10.5%;
  left: 12.3%;

  width: 87.5%;
  height: 89.5%;

  .subtitle{
    @include center-horizontally;
    height: 10%;
    width: 90%;
    border-bottom: 2px inset $inner-color;
    color: $inner-color;
    text-align: center;
    font: 28px Quicksand, sans-serif;
    line-height: 75px;
    background-color: $bg-color;
    box-shadow: 2px 2px 2px $inner-color;
  }

  .content{
    @include center-horizontally;
    font: 22px Quicksand, sans-serif;
    text-align: center;
    height: 79.5%;
  }
  
  .halfContent{
  	position: relative;
  	width: 50%;
  	float: left;
  	
  	.thumbnail{
  		position: relative;
  		width: 45%;
  		left: 27.5%;
  		height: 300px;
  		border: 1px solid black;
  		
  		input{
	  		position: relative;
	  		width: 100%;
	  		height: 100%;
	  		opacity: 0;
  		}
  		
  		#thumb{
  			position: absolute;
  			top: 0;
  			left: 0;
  			width: 100%;
  			height: 100%;
  		}
  		
  	}
  	
  	.thumbnail:hover{
  		box-shadow: 1px 1px 1px blue;
  	}
  }
	
  label{
    display: inline-block;
    clear: left;
    width: 135px;
    text-align: right;
  }
  
  input, textArea {
    display: inline-block;
    font: 20px Quicksand, sans-serif;
    height: 22px;
    text-align: center;
    vertical-align: middle;
  }
  
  #desc{
    height: 120px;
  }

  .postButton{
    font: 32px Mission-Script, sans-serif;
    color: $inner-color;
    text-align: center;
    line-height: 40px;

    width: 180px;

    border-radius: 4px;
    border: 2px outset $hover-color;

    background-color: rgba(240, 230, 230, 0.5);
    cursor: pointer;

  }

  .postButton:hover{
    @include big-hover;
    text-shadow: 1px 1px #59420b;
    border-style: inset;
  }
  
  .pageNav{
  	width: 50%;
  	height: 50%;
  	float: left;
  	color: $inner-color;
  	margin-bottom: 15px;
  }
  
  .pageNav:hover{
  	cursor: pointer;
  	text-shadow: 1px 1px #59420b;
  	transition: all 0.2s;
  	font-weight: bold;
  }
  
  table{
  	@include center-horizontally;
  	width: 100%;
    border-spacing: 0;
  }
  
  td{
  	position: relative;
  	height: 40%;
  	text-align: center;
  	border-top: 2px solid $inner-color;
  }
  
  
  thead{
  	font-weight: bold;
  }
  
  .log{
  	border-right: 1px solid black;
  }
  
  ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .showPicture{
  	position: relative;
  	width: 220px;
  	height: 250px;
  	
  	img{
  		position: relative;
  		width: 250px;
  		height: 300px;
  	}
  }
  
  .showInfo{
  	.proName{
  		font-size: 38px;
  		font-weight: bold;
  	}
  }
  
  .addToCart{
  	.proCost{
  		font-size: 32px;
  		font-weight: bold;
  	}
  	
  	input{
  		position: relative;
  		margin: 5px;
  		width: 50px;
  		vertical-align: middle;
  	}
  	
  }
  
  .cart{
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	table{
	  @include center-horizontally;
	  border-top: 2px solid $inner-color;
	  width: 100%;
	}
	  
	td{
	  position: relative;
	  width: 33%;
	  height: 20%;
	  text-align: center;
	}
	  
    .cartPicture{
	  position: relative;
	  width: 100px;
	  height: 150px;
	  	
	  img{
	  	position: relative;
	  	width: 100px;
	  	height: 150px;
	  }
	}
  		
  	.cartInfo{
  	  .cartName{
  		font-size: 32px;
  		font-weight: bold;
  	  }
  	}
  
  	.cartRel{
  	  .cartCost{
  		font-size: 28px;
  		font-weight: bold;
  	  }
  	}
	  
  }
  	
  	.name{
  		font-size: 32px;
  		font-weight: bold;
  	}
  	
  	.user-info{
  		font-size: 28px;
  	}
  	
  	span{
  		font-weight: 100;
  	}
  	
  	.indexTitle{
  	  font: 100 30px Quicksand, sans-serif;
  	}
  	
  	.welcomeImg{
  		position: relative;
  		width: 100%;
  		height: 100%;
  	
  		img{
  			position: relative;
			width: 100%;
			height: 60%;;
		}
  	}
  	
}

.icon{
  position: relative;
  top: 10%;
  width: 60px;
  height: 40px;
}

.alert{
  @include center;

  z-index: 101;

  font: 100 30px Quicksand, sans-serif;
  color: black;
  text-align: center;
  border: 3px inset $hover-color;
  border-radius: 5px;
  background-color: #e6f5e4;
  
  img{
  	position: relative;
  	width: 60px;
  	margin-top: 5px;
  }

  button{
    font: 22px Quicksand, sans-serif;
    background-color: $bg-color;
    border: 2px solid $hover-color;
    border-radius: 5px;
    height: 20%;
    width: 50%;
    margin-bottom: 5px;
  }

  button:hover{
    @include big-hover;
  }

}

@font-face {
  font-family: Mission-Script;
  src: url(Mission-Script.otf);
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Regular.otf);
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Light.otf);
  font-weight: 100;
}