body {
  margin: 0; }

header {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #0caf7d;
  color: white;
  text-shadow: 2px 2px black;
  font: 48px Mission-Script, sans-serif;
  z-index: 1;
  border-bottom: 3px solid #0c845c;
  border-top: 3px solid #0c845c; }
  header div {
    float: left;
    text-align: center;
    vertical-align: middle; }
  header form {
    position: absolute;
    left: 25%;
    top: 100%;
    width: 50%;
    color: black;
    text-shadow: none;
    font: 100 25px Quicksand, sans-serif;
    line-height: 30px;
    background-color: #53B094;
    border-color: #0c845c;
    border: solid #0c845c;
    border-radius: 5px; }
    header form label {
      position: relative;
      width: 50%;
      text-align: right; }
    header form input {
      position: relative;
      height: 18px;
      font-size: 14px;
      width: 50%;
      text-align: center; }
  header .title {
    position: absolute;
    left: -1%;
    width: 50%;
    height: 100%;
    line-height: 70px;
    cursor: pointer; }
  header .beforeLogin, header .afterLogin {
    position: absolute;
    left: 60%;
    width: 40%;
    height: 100%;
    font-size: 40px; }
  header .showLogButton {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 70px; }
  header .cartButton, header .accountButton {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    line-height: 70px;
    font-size: 36px; }
  header .hButton {
    font-weight: normal; }
  header .beforeLogin:hover, header .cartButton:hover, header .accountButton:hover {
    background-color: #0c845c;
    transition: all 0.3s;
    cursor: pointer; }
  header .hButton:hover {
    color: #0c845c;
    transition: all 0.3s;
    cursor: pointer; }
  header .accountForm {
    left: 55%;
    width: 40%; }
  header #username-label {
    position: relative;
    float: left;
    line-height: 0;
    text-align: center;
    left: 40%;
    transform: translate(-60%); }

.sidebar {
  position: fixed;
  height: 100%;
  width: 12%;
  background-color: #53B094;
  border-right: 3px solid #0c845c;
  font: 40px Mission-Script, sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px black;
  text-align: center; }
  .sidebar .corner {
    height: 10%;
    width: 100%;
    vertical-align: middle;
    background-color: #0caf7d;
    font-size: 48px;
    border-bottom: 3px solid #0c845c;
    border-right: 3px solid #0c845c;
    border-top: 0;
    line-height: 70px; }
  .sidebar .corner:hover {
    cursor: pointer; }
  .sidebar .sidebarButton {
    position: absolute;
    height: 45%;
    width: 100%; }
  .sidebar .sidebarButton:hover {
    background-color: #0c845c;
    transition: all 0.3s;
    cursor: pointer; }
  .sidebar p {
    position: relative;
    top: 40%;
    transform: translateY(-50%); }
  .sidebar #buyButton {
    border-bottom: 3px solid #0c845c; }
  .sidebar #sellButton {
    top: 56%; }

.contentSpace {
  position: absolute;
  top: 10.5%;
  left: 12.3%;
  width: 87.5%;
  height: 89.5%; }
  .contentSpace .subtitle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
    width: 90%;
    border-bottom: 2px inset #B07C0C;
    color: #B07C0C;
    text-align: center;
    font: 28px Quicksand, sans-serif;
    line-height: 75px;
    background-color: rgba(182, 130, 18, 0.3);
    box-shadow: 2px 2px 2px #B07C0C; }
  .contentSpace .content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font: 22px Quicksand, sans-serif;
    text-align: center;
    height: 79.5%; }
  .contentSpace .halfContent {
    position: relative;
    width: 50%;
    float: left; }
    .contentSpace .halfContent .thumbnail {
      position: relative;
      width: 45%;
      left: 27.5%;
      height: 300px;
      border: 1px solid black; }
      .contentSpace .halfContent .thumbnail input {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0; }
      .contentSpace .halfContent .thumbnail #thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .contentSpace .halfContent .thumbnail:hover {
      box-shadow: 1px 1px 1px blue; }
  .contentSpace label {
    display: inline-block;
    clear: left;
    width: 135px;
    text-align: right; }
  .contentSpace input, .contentSpace textArea {
    display: inline-block;
    font: 20px Quicksand, sans-serif;
    height: 22px;
    text-align: center;
    vertical-align: middle; }
  .contentSpace #desc {
    height: 120px; }
  .contentSpace .postButton {
    font: 32px Mission-Script, sans-serif;
    color: #B07C0C;
    text-align: center;
    line-height: 40px;
    width: 180px;
    border-radius: 4px;
    border: 2px outset #0c845c;
    background-color: rgba(240, 230, 230, 0.5);
    cursor: pointer; }
  .contentSpace .postButton:hover {
    background-color: #0c845c;
    transition: all 0.3s;
    cursor: pointer;
    text-shadow: 1px 1px #59420b;
    border-style: inset; }
  .contentSpace .pageNav {
    width: 50%;
    height: 50%;
    float: left;
    color: #B07C0C;
    margin-bottom: 15px; }
  .contentSpace .pageNav:hover {
    cursor: pointer;
    text-shadow: 1px 1px #59420b;
    transition: all 0.2s;
    font-weight: bold; }
  .contentSpace table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-spacing: 0; }
  .contentSpace td {
    position: relative;
    height: 40%;
    text-align: center;
    border-top: 2px solid #B07C0C; }
  .contentSpace thead {
    font-weight: bold; }
  .contentSpace .log {
    border-right: 1px solid black; }
  .contentSpace ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .contentSpace .showPicture {
    position: relative;
    width: 220px;
    height: 250px; }
    .contentSpace .showPicture img {
      position: relative;
      width: 250px;
      height: 300px; }
  .contentSpace .showInfo .proName {
    font-size: 38px;
    font-weight: bold; }
  .contentSpace .addToCart .proCost {
    font-size: 32px;
    font-weight: bold; }
  .contentSpace .addToCart input {
    position: relative;
    margin: 5px;
    width: 50px;
    vertical-align: middle; }
  .contentSpace .cart {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .contentSpace .cart table {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-top: 2px solid #B07C0C;
      width: 100%; }
    .contentSpace .cart td {
      position: relative;
      width: 33%;
      height: 20%;
      text-align: center; }
    .contentSpace .cart .cartPicture {
      position: relative;
      width: 100px;
      height: 150px; }
      .contentSpace .cart .cartPicture img {
        position: relative;
        width: 100px;
        height: 150px; }
    .contentSpace .cart .cartInfo .cartName {
      font-size: 32px;
      font-weight: bold; }
    .contentSpace .cart .cartRel .cartCost {
      font-size: 28px;
      font-weight: bold; }
  .contentSpace .name {
    font-size: 32px;
    font-weight: bold; }
  .contentSpace .user-info {
    font-size: 28px; }
  .contentSpace span {
    font-weight: 100; }
  .contentSpace .indexTitle {
    font: 100 30px Quicksand, sans-serif; }
  .contentSpace .welcomeImg {
    position: relative;
    width: 100%;
    height: 100%; }
    .contentSpace .welcomeImg img {
      position: relative;
      width: 100%;
      height: 60%; }

.icon {
  position: relative;
  top: 10%;
  width: 60px;
  height: 40px; }

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  font: 100 30px Quicksand, sans-serif;
  color: black;
  text-align: center;
  border: 3px inset #0c845c;
  border-radius: 5px;
  background-color: #e6f5e4; }
  .alert img {
    position: relative;
    width: 60px;
    margin-top: 5px; }
  .alert button {
    font: 22px Quicksand, sans-serif;
    background-color: rgba(182, 130, 18, 0.3);
    border: 2px solid #0c845c;
    border-radius: 5px;
    height: 20%;
    width: 50%;
    margin-bottom: 5px; }
  .alert button:hover {
    background-color: #0c845c;
    transition: all 0.3s;
    cursor: pointer; }

@font-face {
  font-family: Mission-Script;
  src: url(Mission-Script.otf); }
@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Regular.otf); }
@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Light.otf);
  font-weight: 100; }

/*# sourceMappingURL=cart.css.map */
